@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 39 18% 93%;
		--foreground: 210 13% 34%;
		--card: 39 18% 93%;
		--card-foreground: 210 13% 34%;
		--popover: 39 18% 93%;
		--popover-foreground: 210 13% 34%;
		--primary: 114 14% 53%;
		--primary-foreground: 39 18% 93%;
		--secondary: 84 24% 68%;
		--secondary-foreground: 210 13% 34%;
		--muted: 84 24% 68%;
		--muted-foreground: 158 11% 40%;
		--accent: 84 24% 68%;
		--accent-foreground: 210 13% 34%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 39 18% 93%;
		--border: 114 14% 53%;
		--input: 114 14% 53%;
		--ring: 114 14% 53%;
		--radius: 0.5rem;
		--chart-1: 39 18% 93%;
		--chart-2: 84 24% 68%;
		--chart-3: 114 14% 53%;
		--chart-4: 158 11% 40%;
		--chart-5: 210 13% 34%;
	}

	.dark {
		--background: 210 13% 34%;
		--foreground: 39 18% 93%;
		--card: 210 13% 34%;
		--card-foreground: 39 18% 93%;
		--popover: 210 13% 34%;
		--popover-foreground: 39 18% 93%;
		--primary: 114 14% 53%;
		--primary-foreground: 39 18% 93%;
		--secondary: 158 11% 40%;
		--secondary-foreground: 39 18% 93%;
		--muted: 158 11% 40%;
		--muted-foreground: 84 24% 68%;
		--accent: 158 11% 40%;
		--accent-foreground: 39 18% 93%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 39 18% 93%;
		--border: 114 14% 53%;
		--input: 114 14% 53%;
		--ring: 84 24% 68%;
		--chart-1: 39 18% 93%;
		--chart-2: 84 24% 68%;
		--chart-3: 114 14% 53%;
		--chart-4: 158 11% 40%;
		--chart-5: 210 13% 34%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
